<li>
	{{name}}

	<button class="change-hungry" data-id="{{id}}" data-newhungry="{{hungry}}">
		{{#if sleep}}BURGER TIME!{{else}}NO MORE!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>